<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="card" id="content">
	<div class="row">
	  <div class="col-12">
	    <div class="card-block">
	      {% block title %}
	      <h1 class="card-title">CSG Uptime</h1>
	      {% endblock %}
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-2">
	    <div class="card-block">
	      {% block nav %}
	      <nav class="nav flex-column">
		<a class="nav-link active" href="/">Home</a>
		<a class="nav-link" href="/isitup">Is it up?</a>
		<a class="nav-link" href="/services">Services</a>
	      </nav>
	      {% endblock %}
	    </div>
	  </div>
	  <div class="col-10">
	    <div class="card-block">
	      {% block content %}
	      {% endblock %}
	    </div>
	  </div>
	</div>
	<div class="card-footer text-muted">
	  Something footer related
	</div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
