{% extends "base.html.j2" %}
{% block content %}
{% if fill %}
{{ fill }}
{% endif %}
<form class="form-inline" action="/isitup" method="get">
  <div class="form-group">
    <label for="website">Website</label>
    <input type="text" class="form-control" id="website" name="url" placeholder="Website">
  </div>
  <button type="submit" class="btn btn-default">Website</button>
</form>
{% endblock %}
