{% extends "base.html.j2" %}
{% block content %}
{% if fill %}
{{ fill }}
{% endif %}
<form class="form-inline" action="/services" method="get">
  <div class="form-group">
    <label for="service">Service</label>
    <input type="text" class="form-control" id="service" name="service" placeholder="Service Port">
  </div>
  <button type="submit" class="btn btn-default">Get Service</button>
</form>
{% endblock %}
